In [1]:
#first Program
print("Hello World")

Hello World

In [2]:
# komentar di Python

In [8]:
sapa = "Selamat Pagi"
sapa1 = "Selamat Siang"
sapa_dua= "Selamat Sore"

In [10]:
print(sapa,sapa1,sapa_dua,sep = ',')

Selamat Pagi,Selamat Siang,Selamat Sore

In [5]:
print(sapa_satu)

Selamat pagi

In [12]:
var_string = "ayok belajar AI"
print(var_string)
print(type(var_string))

ayok belajar AI
<class 'str'>

In [13]:
var_integer = 99
print(var_integer)
print(type(var_integer))

99
<class 'int'>

In [14]:
var_float = 12.34
print(var_float)
print(type(var_float))

99.99
<class 'float'>

In [17]:
print(var_string,var_integer,var_float,sep=',')

ayok belajar AI,99,99.99

In [25]:
var_boolean = True
if var_boolean:
    print("nilainya true")

nilainya true

In [27]:
tambah = 5+5.5
print(tambah)

10.5

In [30]:
var1 = "helo"
var2 = "World"
print(var1+','+var2)

helo,World

In [31]:
kurang1= 99
kurang2=77
kurang3=kurang1-kurang2
print(kurang3)

22

In [32]:
kali1 = 55
kali2 = 40
kali3 = kali1*kali2
print(kali3)

2200

In [33]:
bagi1=50
bagi2 = 5
bagi3 = bagi1/bagi2
print(int(bagi3))

10

In [34]:
modul1=50
modul2=3
modul3 = modul1%modul2
print(modul3)

2

In [38]:
if modul1%2==0:
    print("habis dibagi 2")

habis dibagi 2

In [41]:
expo1= 77
expo2 =66
expo3 = expo1**expo2
print(expo3)

32239467607127560459801123022537853733387128786128121429411493357969924496435885172957706132331146217900653817102056284520489

In [43]:
int_div=53/3
print(int_div)

17.666666666666668

In [46]:
#variable penugasan
satu = "test"
satu =1
print(satu)

1

In [48]:
angka = 3
angka+=3
print(angka)

6

In [53]:
local = "Machine Learning"
def scope():
    local = "Learning Machine"
    print(local)
scope()
print(local)

for i in range(1,10):
    print(i)

Learning Machine
Machine Learning
1
2
3
4
5
6
7
8
9

In [54]:
comp = 1+3
print(comp)

4

In [55]:
fal_se = 0
if fal_se:
    print("nilainya true")
else :
    print("nilainya false")

nilainya false

In [57]:
if 5<6 :
    print("5 kecil dari 6")

5 kecil dari 6

In [58]:
num = 5
num2 = 8
if num == num2:
    print("sama")
else :
    print("tidak sama")

tidak sama

In [60]:
if 2!=0 :
    print("tidak sama")

tidak sama

In [62]:
greeting =  ' helo '
print(greeting.strip())

helo

In [63]:
tagline = 'Ayo belajar AI'
print(tagline.replace('AI','Artificial Intellegent'))

Ayo belajar Artificial Intellegent